<!--Footer start-->

 <footer class="page-footer" style="background:#2f3640;">

          <div >

            <div class="row">
                   <div class="col s12">
                       <h4 style="color: #01a3a4;font-variant: small-caps;margin-left: 10px;">MedAssist</h4>
                <span style="font-size:13px;margin-left: 10px;">Med Assist is one of India’s most trusted pharmacies,dispensing quality medicines at reasonable prices to over 7 million happy customers – PAN India.</span>
            </div>
            </div>

              <hr style="height:2px;border-width:0;color:gray;background-color:gray;">

              <div class="row" style="margin-left: 5px;">

                  <div class="col s3">

                      <ul>
                          <li>  <p style="font-weight: bolder;font-size:15px;color:grey;">COMPANY</p>        </li>

                          <li>   <p style="font-size:13px;">About Company</p>                  </li>

                          <li>   <p style="font-size:13px;">Customers Speak</p>               </li>

                          <li>   <p style="font-size:13px;">In the News</p>                  </li>

                          <li>    <p style="font-size:13px;">Terms and Conditions</p>       </li>

                          <li>   <p style="font-size:13px;">Privacy Policy</p>               </li>

                          <li>    <p style="font-size:13px;">Contact</p>                     </li>

                      </ul>
                  </div>



                  <div class="col s3">
                      <ul>
                  <li>    <p style="font-weight: bolder;font-size:15px;color:grey ">SHOPPING</p>   </li>

                  <li>    <p style="font-size:13px;">Browse by Manufacturers</p>       </li>

                   <li>    <p style="font-size:13px;">Health Articles</p>       </li>

                  <li>    <p style="font-size:13px;">Offers / Coupons</p>       </li>

                  <li>    <p style="font-size:13px;">FAQs</p>       </li>

                  </ul>
                  </div>



                  <div class="col s3">
                      <ul>
                    <li>  <p style="font-weight: bolder;font-size:15px;color:grey ">SOCIAL</p>    </li>

                    <li>  <p style="font-size:13px;">Patients Alike</p>    </li>

                    <li>  <p style="font-size:13px; ">Facebook</p>    </li>

                    <li>  <p style="font-size:13px; ">Instagram</p>    </li>

                    <li>  <p style="font-size:13px; ">Twitter</p>    </li>

                   <li>  <p style="font-size:13px; ">Youtube</p>    </li>

                    <li>  <p style="font-size:13px; ">Refer & earn</p>    </li>

                  </ul>
                  </div>


                  <div class="col s3">
                      <ul>
                     <li> <p style="font-size: 12px;font-weight: bolder;color: grey;">SUBSCRIBE TO OUR NEWSLETTER</p> </li>

                    <li> <p style="font-size: 13px;">Get a free subscription to our health and fitness tip and stay tuned to our latest offers</p> </li>
                          </ul>
                  </div>


              </div>

              <hr style="height:2px;border-width:0;color:gray;background-color:lightslategray;width: 100%;">


          </div>
          <div class="footer-copyright">
            <div class="container">
             Copyright Text @2022
            <a class="grey-text text-lighten-4 right" href="#!">Med Assist Marketplace ltd</a>
            </div>
          </div>
        </footer>
<!-- Footer End-->
